ul{
    list-style-type: none;
    padding: 0;
    border:2px solid grey;
}

ul li{
    padding: 8px 16px;
    border-bottom: 1px solid grey;
}

ul{
    border-left: 5px solid green;
    background-color: #888282;
    list-style-type: none;
    padding: 15px 25px;
    font-size: 20px;
}

table{
    border-collapse: collapse;

}

td, th{
    border: 1px solid #eee;
    padding: 15px;
}

tbody tr:nth-child(ODD){
    background-color: #ff33cc;
}

div{
    overflow: scroll;
    background-color: #f27979;
    width: 200px;
    height: 200px;
}

