/* .dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: antiquewhite;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.tooltip{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px ;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 100%;
    margin-left: -60%;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
}


.tooltip .tooltiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
} */

:root{
    --primary-color:#06206a;
    --secondary-color:#fff;
    --padding:20px;
}

body{
    counter-reset:number;
}

h2::before{
    counter-increment: number;
    content: counter(number);
    background-color: white;
    border-radius: 50%;
    padding: 5px 12px;
    color:aquamarine;
    margin: 10px;
}
