body{
    /* background-color: aqua; */
    background: url("img/download.png");
}

h2{
    color:blue

}

h1{
    /* padding-left:50px ; 
     padding-right:50px ;
     padding-top:50px ;
      padding-bottom:50px ; */
      padding: 10px 20px 30px 40px;
}
h1{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
div{
    width: 300px;
    border: 4px solid green;
    padding: 50px;
    margin: 20px;
    background-color: aqua;
}
p{
    /* color: rgb(20, 95, 75) */
    color:#953434;
   font-size: 20px;
    /* border=width: 10px; 
     border-color: #953434; */
}




